<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : "" %>>
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3 <%- theme.direction %>">
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index py4 <%= is_home() ? 'h-card' : '' %>">
        <% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <%- body %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_mobile') %>
        <% } %>
        <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/styles') %>
    <%- partial('_partial/scripts') %>

    <!-- Add Oneko.js Script -->
    <script src="/js/oneko.js"></script>
    <script>
      window.onload = function() {
        oneko('/images/oneko.gif'); // This starts the cat chasing the mouse
      };
    </script>
</body>
</html>
